# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Macbook garbage
*.DS_Store

# build directory
build/*
files_input/*
files_input/*

processing/cond/*
processing/condor/log/*
processing/ahingraj.cc
executions_dir/*
*.log
*.err
*.out
*.sub
ahingraj.cc
